:root {
  /* tus colores base */
  --color-bg: #052e16;
  --color-bg-2: #064e3b;
  --color-bg-3: #dcfce7;
  --color-primary: #16a34a;
  --color-text-1: #0f361f;
  --color-text-2: #ea2a33;
  --color-text-secondary: #7a7a7a;
}
